
body {
	background-color: white;
	font-family: 'Times New Roman';
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.fon {
	background-color: black;
	width: 75%;
	border-radius: 2%;
	animation: left-block;
	animation-duration: 1.2s;
}
img {
	border-radius: inherit;
	opacity: 0.9;
	object-fit: cover;
	width: 100%;
}
.row{
}
.text {
	margin: 35px 0px;
	text-align: center;
	animation-name: rigth-block;
	animation-duration: 1.2s;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text h3{
	border-top: 3px solid green;
	padding: 30px 20px;
	text-align: justify;
}
.text .head{
	font-size: 30px;
	text-align: center;
}
.navbar {
	border-bottom: 2px solid gray;
}
.nav a{
	font-size: 15px;
	color: silver;
}
.nav .nav-item:hover a{
	color: black;
}
.nav {
	font-family: 'Franklin Gothic';
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1{
	margin: 20px 8px;
}
.flex-box{
	padding: 10px;
	display: flex;
	justify-content: space-between;
}
.header{
	margin: 0px 0px;
	padding: 20px;
	width: 100%;
	height: 60px;
	background-color: black;
}
.header .navbar {
	margin: 0% 20%;
	width: 60%;
	display: flex;
	justify-content: space-between;
}
.header .navbar .link{
	color: white;
	text-decoration: none;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flex-box-beetwen
{
	display: flex;
	justify-content: space-between;
	margin: 10px 0px;
	font-size: 12px;
}
.flex-box-beetwen input
{
	width: 200px;
}
.footer{
	color: gray;
	width: 100%;
	height: auto;
	font-size: 15px;
}
#grid{
	animation-name: table;
	animation-duration: 2s;
}

@keyframes rigth-block {
	from {
		transform: translate(500px, 0%);
	}
	to {
	}
}
@keyframes left-block {
	from {
		transform: translate(-500px, 0%);
	}

	to {
	}
}
@keyframes table{
	from{
		opacity: 0%;
	}
	to{
		opacity: 100%;
	}
}