
@{
	ViewBag.Title = "View";
}

<div class="row" style="margin: 50px 0px;">
	<div class="col-7">
		<div class="fon">
			<img src="~/Content/Images/doctor1.jpg" alt="Doctor" />
		</div>
	</div>
	<div class="col-5">
		<div class="text">
			<p class="head">
				DAMUMED
			</p>
			<h3>
				Мы рады приветствовать Вас на главной странице Комплексной медицинской информационной системы <i>Damumed</i>
			</h3>
			<h3>

				К Вашим услугам уникальные возможности цифрового «облака» здравоохранения от
				ведущего казахстанского производителя медицинских информационных систем
			</h3>
		</div>
	</div>
</div>
