<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- HOME CONNECTION -->
    <add key="connection" value="Server=DESKTOP-5MU0QK1; Database=FirstTask; Trusted_Connection=True;" />
    <!-- HOME CONNECTION -->

    <!-- WORK CONNECTION -->
    <!-- <add key="connection" value="Server=DESKTOP-8LKEMKN; Database=FirstTask; Trusted_Connection=True;" />-->
    <!-- WORK CONNECTION -->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>