
@{
	ViewBag.Title = "Оказанные услуги";
}
<div class="container">
	<h2>Оказанные услуги</h2>

	<div id="scheduler"></div>

	<div id="reportWindow">
		<form id="reportForm"></form>
	</div>

	<div id="schedulerNotifications"></div>

	<div>
		<button id="reportWindowButton">Печать</button>
	</div>
</div>

<script id="schedulerEditor" type="text/x-kendo-template">
	<div class="container">
		<form id="schedulerForm">
		</form>
	</div>
</script>