
@{
	ViewBag.Title = "История оказанных услуг";
}

<h2>История оказанных услуг</h2>

<div id="scheduler"></div>

<div id="reportWindow">
	<form id="reportForm"></form>
</div>

<button id="reportWindowButton">Печать</button>

<script>
	$("#schedulerService").kendoComboBox({
		placeholder: "Введите название",
		dataTextField: "Name",
		dataValueField: "Id",
		filter: "contains",
		dataSource: getServiceList()
	});
</script>
<script id="schedulerEditor" type="text/x-kendo-template">
	<div class="container">
		<p>
			<label>Начало: <input id="schedulerDatePicker" name="DateOfCreate" /></label>
		</p>
		<p>
			<label>Услуга: <input id="schedulerService" data-role="combobox" name="services" /></label>
		</p>
		<p>
			<label>Компания: <input id="schedulerCompany" data-role="combobox" name="companies" /></label>
		</p>
		<p>
			<label>Сотрудник: <input id="schedulerEmployee" data-role="combobox" name="employee" /></label>
		</p>
	</div>
</script>