@{
	ViewBag.Title = "Реестр услуг";
}

<h2>Реестр услуг</h2>

<span id="allNotif"></span>

<div id="grid">
	<div id="toolbar">
		<p>Статус: </p>
		<div id="statusesList"></div>
		<p>Сортировать по: </p>
		<div id="orderByTypes"></div>
		<p>Наименование: </p>
		<input type="text" name="Name" id="nameFilter" />
		<button type="button" id="btn-insert">Добавить</button>
	</div>
</div>

<div id="insert-window">
	<form id="insert-form"></form>
</div>

<div id="edit-window">
	<form id="edit-form">
		<input type="hidden" id="edit-id" name="Id" />
		<div class="flex-box-beetwen">
			<label>Название услуги: </label>
			<input type="text" id="edit-name" name="Name" />
		</div>
		<div class="flex-box-beetwen">
			<label>Стоимость услуги: </label>
			<input type="text" id="edit-price" name="Price" />
		</div>
		<div class="flex-box-beetwen">
			<label>Дата начала действия услуги: </label>
			<input type="date" id="edit-date" name="DateOfBegin" />
		</div>
		<div class="flex-box-beetwen">
			<label>Код услуги: </label>
			<input type="text" id="edit-code" name="Code" />
		</div>
	</form>
</div>

<div>
	<div id="delete-window" style="text-align: center;">
		<h3 style="margin: 20px 0px;">Вы действительно хотите удалить эту услугу?</h3>
	</div>
</div>