@{
	ViewBag.Title = "Реестр услуг";
}

<h2>Реестр услуг</h2>

<span id="allNotif"></span>

<div class="container">
	<div id="servicesGrid">
		<div id="toolbar">
			<p>Статус: </p>
			<div id="serviceStatusesList"></div>
			<p>Сортировать по: </p>
			<div id="orderByTypes"></div>
			<p>Наименование: </p>
			<input type="text" name="Name" id="serviceNameFilter" />
			<button type="button" id="btn-insert">Добавить</button>
		</div>
	</div>

	<div id="insert-window">
		<form id="insert-form"></form>
	</div>

	<div id="edit-window">
		<form id="editServiceForm"></form>
	</div>

	<div>
		<div id="delete-window" style="text-align: center; display: none;">
			<h3 style="margin: 20px 0px;">Вы действительно хотите удалить эту услугу?</h3>
		</div>
	</div>
</div>