
@{
	ViewBag.Title = "Реестр организаций";
}

<h2>Реестр организаций</h2>

<span id="companyNotifications"></span>

<div class="container">
	<div id="companiesGrid">
		<div id="companiesToolbar">
			<p>Статус: </p>
			<div id="statusesListCompanies"></div>
			<p>Сортировать по: </p>
			<div id="companiesSortingTypes"></div>
			<p>Наименование: </p>
			<input type="text" name="Name" id="nameFilter" />
			<button type="button" id="btnCompanySearch">Поиск</button>
		</div>
	</div>

	<div id="companiesInsertWindow">
		<form id="companiesInsertForm"></form>
	</div>

	<div id="companyEditWindow">
		<form id="companyEditForm"></form>
	</div>

	<div>
		<div id="companiesDeleteWindow" style="text-align: center; display: none;">
			<h3 style="margin: 20px 0px;">Вы действительно хотите удалить данные этой компании?</h3>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {

		var notifElement = $("#companyNotifications");
		notifElement.kendoNotification({
		});

		var notification = notifElement.data("kendoNotification");

		// Insert

		$("body").on("click", "#companiesCloseInsertWindow", function () {
			$("#companiesInsertWindow").data("kendoDialog").close();
		});

		$("body").on("click", "#companiesCloseEditWindow", function () {
			$("#companyEditWindow").data("kendoDialog").close();
		});

		$("#companiesInsertWindow").kendoDialog({
			modal: true,
			width: "700px",
			closable: false,
			visible: false,
			title: false,
		});

		$("body").on("click", "#btnCompanyInsert", function () {
			let window = $("#companiesInsertWindow").data("kendoDialog")
			window.open();
		});

		var formInsert = $("#companiesInsertForm").kendoForm({
			visible: false,
			items: [
				{
					type: "group",
					label: "Добавление новой организации",
					items: [
						{
							field: "Name", label: "Название", placeholder: "Укажите название",
							editor: function (container, options) {
								var input = $('<input id="insertCompaniesName" name="Name"/>');
								input.appendTo(container);
								input.kendoTextBox();
							}
						},
						{
							field: "DateOfBegin", label: "Дата начала сотрудничества",
							editor: function (container, options) {
								var input = $('<input id="insertDate" name="DateOfBegin" />');
								input.appendTo(container);
								input.kendoDatePicker({
									placeholder: "Укажите дату начала сотрудничества",
									format: 'dd/MM/yy'
								});
							}
						},
						{
							field: "BIN", label: "BIN",
							editor: function (container, options) {
								var input = $('<input name="BIN" />');
								input.appendTo(container);
								input.kendoMaskedTextBox({
									placeholder: "Укажите 12 чисел",
									mask: "000-000-000-000"
								});
							}
						},
						{
							field: "Phone", label: "Телефон", editor: function (container, options) {
								var input = $('<input name="Phone"/>');
								input.appendTo(container);
								input.kendoMaskedTextBox({
									placeholder: "Укажите номер телефона",
									mask: "0-(000)-000-00-00"
								});
							}
						},
						{
							field: "Validator", label: "",
							editor: function (container, options) {
								var block = $('<div class="validateContainer"/>');
								block.appendTo(container);
							}
						}
					]
				}
			],
			buttonsTemplate: "<div class='form-buttons'><button class='btn-success' type='submit'>Сохранить</button> <button class='btn-danger' id='companiesCloseInsertWindow' type='button'>Отмена</button></div>"
		});

		// Insert Validator and Submit
		$("#companiesInsertForm").validate({
			rules: {
				Name: {
					required: true,
					minlength: 6,
				},
				BIN: {
					required: true,
					pattern: "^[0-9]{3}-[0-9]{3}-[0-9]{3}-[0-9]{3}$"
				},
				DateOfBegin: {
					required: true,
					dateFilter: true,
					pastDate: true
				},
				Phone: {
					required: true,
					pattern: "^[0-9]-[(]?[0-9]{3}[)]?-[0-9]{3}-[0-9]{2}-[0-9]{2}$"
				}
			},
			messages: {
				Name: {
					required: "Необходимо указать название компании!",
					minlength: "Название компании должно содержать минимум 6 символов!",
				},
				BIN: {
					required: "Необходимо указать БИН!",
					pattern: "Укажите БИН в формате 'XXX-XXX-XXX-XXX'"
				},
				DateOfBegin: {
					required: "Необходимо указать дату!",
					dateFilter: "Укажите дату в формате!",
					pastDate: "Дата не может быть больше действующей!"
				},
				Phone: {
					required: "Необходимо указать номер телефона!",
					pattern: "Укажите номер телефона в формате X-(XXX)-XXX-XX-XX"
				}
			},
			focusInvalid: true,
			errorClass: "validationFormMessage",
			errorLabelContainer: ".validateContainer",
			submitHandler: function () {
				var data = formInsert.serializeArray();
				$.ajax({
					url: "/Company/AddCompany/",
					type: "POST",
					data: data,
					success: function (json) {
						if (json.IsSuccess == true) {
							var grid = $("#companiesGrid").data("kendoGrid");
							grid.dataSource.read();
							notification.success(json.Message);
							$('#companiesInsertForm')[0].reset();
							$("#companiesInsertWindow").data("kendoDialog").close();
						}
						else {
							notification.error(json.Error);
						}
					}
				});
			}
		});

		// Edit

		$("#companyEditWindow").kendoDialog({
			modal: true,
			width: "500px",
			closable: false,
			visible: false,
			title: false,
		});

		var formEdit = $("#companyEditForm").kendoForm({
			visible: true,
			items: [
				{
					type: "group",
					label: "Редактирование данных организации",
					items: [
						{
							field: "Id", label: "", editor: function (container, options) {
								var input = $('<input id="editCompaniesId" name="Id" type="hidden"/>');
								input.appendTo(container);
							}
						},
						{
							field: "Name", label: "Назваине", placeholder: "Укажите название",
							editor: function (container, options) {
								var input = $('<input id="editCompaniesName" name="Name"/>');
								input.appendTo(container);
								input.kendoTextBox();
							}
						},
						{
							field: "BIN", label: "БИН",
							editor: function (container, options) {
								var input = $('<input id="editCompaniesBin" name="BIN"/>');
								input.appendTo(container);
								input.kendoMaskedTextBox({
									placeholder: "Укажите 12 чисел",
									mask: "000-000-000-000"
								});
							}
						},
						{
							field: "DateOfBegin", label: "Дата начала сотрудничества",
							editor: function (container, options) {
								var input = $('<input id="editCompaniesDateOfBegin" name="DateOfBegin"/>');
								input.appendTo(container);
								input.kendoDatePicker({
									placeholder: "Укажите дату начала сотрудничества",
									format: 'dd/MM/yyyy',
								});
							}
						},
						{
							field: "Phone", label: "Телефон",
							editor: function (container, options) {
								var input = $('<input id="editCompaniesPhone" name="Phone"/>');
								input.appendTo(container);
								input.kendoMaskedTextBox({
									placeholder: "Укажите номер телефона",
									mask: "0-(000)-000-00-00"
								});
							}
						},
						{
							field: "Validator", label: "",
							editor: function (container, options) {
								var block = $('<div class="validateContainer"/></div>');
								block.appendTo(container);
							}
						},
					]
				}
			],
			buttonsTemplate: "<button class='btn-success' type='submit'>Сохранить</button> <button class='btn-danger' id='companiesCloseEditWindow' type='button' class=''>Отмена</button>"
		});

		function EditCompany(oldService) {
			var filteredBIN = EditBIN(oldService.BIN);
			var filteredDate = new Date(oldService.DateOfBegin).toLocaleDateString();
			var filteredPhone = EditNumber(oldService.Phone);

			$("#companyEditForm #editCompaniesId").val(oldService.Id);
			$("#companyEditForm #editCompaniesName").val(oldService.Name);
			$("#companyEditForm #editCompaniesBin").val(filteredBIN);
			$("#companyEditForm #editCompaniesDateOfBegin").val(filteredDate);
			$("#companyEditForm #editCompaniesPhone").val(filteredPhone);

			$("#companyEditWindow").data("kendoDialog").open();

			return false;
		}

		function ActivateCompany(id) {
			$.ajax({
				url: "/Company/ActivateCompany/",
				type: "POST",
				data: { id: id },
				success: function (json) {
					if (json.IsSuccess == true) {
						var grid = $("#companiesGrid").data("kendoGrid");
						grid.dataSource.read();
						notification.success(json.Message);
					}
					else {
						notification.error(json.Message);
					}
				}
			})
		}

		// Edit Validator and Submit
		$("#companyEditForm").validate({
			rules: {
				Name: {
					required: true,
					minlength: 6,
				},
				BIN: {
					required: true,
					pattern: "^[0-9]{3}-[0-9]{3}-[0-9]{3}-[0-9]{3}$"
				},
				DateOfBegin: {
					required: true,
					dateFilter: true,
					pastDate: true
				},
				Phone: {
					required: true,
					pattern: "^[0-9]-[(]?[0-9]{3}[)]?-[0-9]{3}-[0-9]{2}-[0-9]{2}$"
				}
			},
			messages: {
				Name: {
					required: "Необходимо указать название компании!",
					minlength: "Название компании должно содержать минимум 6 символов!",
				},
				BIN: {
					required: "Необходимо указать BIN!",
					pattern: "Укажите БИН в формате 'XXX-XXX-XXX-XXX'"
				},
				DateOfBegin: {
					required: "Необходимо указать дату!",
					dateFilter: "Укажите дату в формате!",
					pastDate: "Дата не может быть больше действующей!"
				},
				Phone: {
					required: "Необходимо указать номер телефона!",
					pattern: "Укажите номер телефона в формате X-(XXX)-XXX-XX-XX"
				}
			},
			submitHandler: function () {
				var data = formEdit.serializeArray();

				$.ajax({
					url: "/Company/EditCompany/",
					type: "POST",
					data: data,
					success: function (json) {
						if (json.IsSuccess == true) {
							var grid = $("#companiesGrid").data("kendoGrid");
							grid.dataSource.read();
							notification.success(json.Message);
							$("#companyEditWindow").data("kendoDialog").close();
						}
						else {
							notification.error(json.Error);
						}
					}
				});
			},
			focusInvalid: true,
			errorClass: "validationFormMessage",
			errorPlacement: function (error, element) {
				$(".validateContainer").empty();
				error.appendTo('.validateContainer');
			}
		});

		// Filters

		$("body").on("click", "#btnCompanySearch", function () {
			var grid = $("#companiesGrid").data("kendoGrid");
			grid.dataSource.read();
		});

		$("#companiesToolbar").kendoToolBar({
		});

		$("#nameFilter").kendoTextBox({});

		$("#statusesListCompanies").kendoDropDownList({
			dataTextField: "text",
			dataValueField: "value",
			dataSource: [
				{ text: "Активные", value: 1 },
				{ text: "Отключенные", value: 2 },
			]
		});

		$("#companiesSortingTypes").kendoDropDownList({
			dataTextField: "text",
			dataValueField: "value",
			dataSource: [
				{ text: "Названию", value: "Name" },
				{ text: "Дате начала", value: "DateOfBegin" }
			]
		});

		// Delete
		function DeleteCompany(id) {
			document.getElementById('companiesDeleteWindow').style.display = "block";
			$("#companiesDeleteWindow").kendoDialog({
				title: false,
				modal: true,
				width: "400px",
				closable: false,
				visible: true,
				actions: [
					{
						text: "Да",
						primary: true,
						action: function () {
							$.ajax({
								url: "/Company/DeleteCompany/",
								type: "POST",
								data: { id: id },
								success: function (json) {
									if (json.IsSuccess == true) {
										var grid = $("#companiesGrid").data("kendoGrid");
										grid.dataSource.read();
										notification.success(json.Message);
									}
									else {
										notification.error(json.Error);
									}
								}
							})
						}
					},
					{ text: "Нет" }
				]
			});
		};
		// Grid

		var dataSource = new kendo.data.DataSource({
			pageSize: 20,
			transport: {
				read: {
					url: "/Company/Index",
					type: "POST",
					contentType: "application/json; charset=utf-8",
				},
				parameterMap: function (options) {
					let name = $("#nameFilter").val();
					var data = {
						CompanyName: name,
						Page: options.page,
						PageSize: options.pageSize,
						Status: $("#statusesListCompanies").val(),
						SortingType: $("#companiesSortingTypes").val()
					}
					return kendo.stringify(data);
				}
			},
			schema: {
				total: function (response) {
					if (response.length > 0)
						return response[0].TotalRows;
					else
						return 1;
				},
				model: {
					fields: {
						DateOfBegin: { type: "date" }
					}
				}
			},
			serverPaging: true,
			serverSorting: true,
		});

		$("#companiesGrid").kendoGrid({
			dataSource: dataSource,
			columns: [
				{ field: "Id", title: "Id", width: "5%", hidden: true },
				{ field: "Name", title: "Название компании", width: "30%" },
				{ field: "Phone", title: "Номер телефона", width: "10%" },
				{ field: "BIN", title: "БИН", width: "10%" },
				{ field: "DateOfBegin", title: "Дата добавления", width: "10%", format: "{0: dd-MM-yyyy}" },
				{
					field: "Status", title: "Статус", width: "5%", values: [
						{ text: "Активно", value: 1 },
						{ text: "Удалено", value: 2 }
					]
				},

				{
					command: [
						{
							name: "Delete",
							className: "btn-destroy",
							text: "Удаление",
							visible: function (dataItem) { return dataItem.Status == 1 },
							click: function (e) {
								var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
								DeleteCompany(dataItem.Id);
							},
						},
						{
							name: "Activate",
							className: "btn-activate",
							text: "Востановить",
							visible: function (dataItem) { return dataItem.Status == 2 },
							click: function (e) {
								var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
								ActivateCompany(dataItem.Id);
							}
						},
						{
							name: "Edit",
							className: "btn-edit",
							text: "Редактирование",
							click: function (e) {
								var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
								EditCompany(dataItem);
							},
						}
					],
					width: "30%",
				},
			],
			height: 620,
			pageable: true,
			scrollable: true,
		});
	});
</script>
