
@{
	ViewBag.Title = "Реестр компаний";
}

<h2>Реестр организаций</h2>

<span id="companyNotifications"></span>

<div class="container">
	<div id="companiesGrid">
		<div id="companiesToolbar">
			<p>Статус: </p>
			<div id="statusesListCompanies"></div>
			<p>Сортировать по: </p>
			<div id="companiesSortingTypes"></div>
			<p>Наименование: </p>
			<input type="text" name="Name" id="nameFilter" />
			<button type="button" id="btnCompanySearch">Поиск</button>
			<button type="button" id="btnCompanyInsert">Добавить</button>
		</div>
	</div>

	<div id="companiesInsertWindow">
		<form id="companiesInsertForm"></form>
	</div>

	<div id="companyEditWindow">
		<form id="companyEditForm"></form>
	</div>

	<div>
		<div id="companiesDeleteWindow" style="text-align: center; display: none;">
			<h3 style="margin: 20px 0px;">Вы действительно хотите удалить данные этой компании?</h3>
		</div>
	</div>
</div>
