
@{
	ViewBag.Title = "Реестр услуг оказываемых организацией";
}

<h2>Реестр услуг оказываемых организацией</h2>

<span id="sProvidedNotifications"></span>

<div class="container">
	<div id="providedGrid">
		<div id="sProvidedToolbar">
			<p>Статус: </p>
			<div id="sProvidedStatusesList"></div>
			<p>Компания</p>
			<input type="text" id="sCompany" />
			<p>Услуга:</p>
			<input type="text" id="sService" />
			<p>Сортировать по: </p>
			<div id="sProvidedSortingTypes"></div>
			<button type="button" id="sProvidedSearchButton">Поиск</button>
		</div>
	</div>

	<div id="sProvidedInsertWindow">
		<form id="sProvidedInsertForm"></form>
	</div>

	<div id="editSProvidedWindow">
		<form id="editSProvidedForm"></form>
	</div>

	<div>
		<div id="sProdivdedDeleteWindow" style="text-align: center; display: none;">
			<h3 style="margin: 20px 0px;">Вы действительно хотите удалить эту услугу?</h3>
		</div>
	</div>
</div>