
@{
	ViewBag.Title = "View";
}


<div class="container">
	<div class="row" style="margin: 50px 0px;">
		<div class="col-7">
			<div class="fon">
				<img src="~/Content/Images/doctor1.jpg" alt="Doctor" />
			</div>
		</div>
		<div class="col-5">
			<div class="text">
				<p class="head">
					DAMUMED
				</p>
				<h3>
					Мы рады приветствовать Вас на главной странице Комплексной медицинской информационной системы <i>Damumed</i>
				</h3>
				<h3>

					К Вашим услугам уникальные возможности цифрового «облака» здравоохранения от
					ведущего казахстанского производителя медицинских информационных систем
				</h3>
			</div>
		</div>
	</div>
</div>

	<div class="container-fluid" style="background-color: darkgrey; height: 150px; margin: 35px 0px; ">
		<div style="margin: 2% 25%; width: 50%; text-align: center; color: darkslategrey; font-weight: bolder; ">
			<h1>ДЕЛАЕМ МЕДИЦИНУ БЛИЖЕ И ДОСТУПНЕЕ</h1>
			<h2 style="margin: 10px 0px;">Damumed - создание региональных корпоративных облаков медицинских организаций</h2>
		</div>
	</div>

	<div class="container">
		<div class="row" style="margin: 120px 0px;">
			<div class="col-7">
				<div class="fon">
					<img src="~/Content/Images/1.jpg" alt="Doctor" />
				</div>
			</div>
			<div class="col-1"></div>
			<div class="col-4 service-text">
				<h1>РЕГИСТРАТУРА</h1>
				Полный функционал регистратуры – графики приема врачей и кабинетов с гибкой возможностью их настройки,
				редактирования и перераспределения пациентов, журналы вызовов на дом и активов всех видов, электронные
				больничные листы, а также регистрация забора материалов для лабораторных исследований в процедурном кабинете,
				ведение врачей на участках, ведение структуры поликлиники и регистра медработников и пользователей системы.
			</div>
		</div>
		<div class="row" style="margin: 120px 0px;">
			<div class="col-7">
				<div class="fon">
					<img src="~/Content/Images/2.jpg" alt="Doctor" />
				</div>
			</div>
			<div class="col-1"></div>
			<div class="col-4 service-text">
				<h1>КАБИНЕТ ВРАЧА</h1>
				Личный кабинет врача поликлиники с удобно настроенным рабочим местом, в котором все «под рукой» - календарь
				приема, списки пациентов, списки активов и вызовов на дом с системой уведомления о новых событиях, журнал
				наблюдения беременных, электронные медицинские записи на каждого пациента, паспорт здоровья каждого пациента
				со всей необходимой информацией о состоянии здоровья.
			</div>
		</div>
	</div>
