
@{
	ViewBag.Title = "Реестр сотрудников";
}

<h2>Реестр сотрудников</h2>

<span id="employeeNotifications"></span>

<div id="emloyeeGrid">
	<div id="employeeToolbar">
		<p>Статус: </p>
		<div id="statusesList"></div>
		<p>Полное имя: </p>
		<input type="text" name="FullName" id="fullNameFilter" />
		<p>Компания: </p>
		<div id="companyFilter"></div>
		<p>Сортировать по: </p>
		<div id="employeeSortingTypes"></div>
		<button type="button" id="employeeInsertButton">Добавить</button>
	</div>
</div>

<div id="employeeInsertWindow">
	<form id="employeeInsertForm"></form>
</div>

<div id="editEmployeeWindow">
	<form id="editEmployeeForm"></form>
</div>

<div>
	<div id="employeeDeleteWindow" style="text-align: center;">
		<h3 style="margin: 20px 0px;">Вы действительно хотите удалить эту услугу?</h3>
	</div>
</div>
