
@{
	ViewBag.Title = "Регистрация и ведение сотрудников организации";
}

<h2>Регистрация и ведение сотрудников организации</h2>

<span id="employeeNotifications"></span>

<div class="container">
	<div id="emloyeeGrid" class="grid">
		<div id="employeeToolbar">
			<p>Статус: </p>
			<div id="statusesList"></div>
			<p>Полное имя: </p>
			<input type="text" name="FullName" id="fullNameFilter" />
			<p>Компания: </p>
			<div id="companyFilter"></div>
			<p>Сортировать по: </p>
			<div id="employeeSortingTypes"></div>
			<button type="button" id="employeeSearchButton">Поиск</button>
		</div>
	</div>

	<div id="employeeInsertWindow">
		<form id="employeeInsertForm"></form>
	</div>

	<div id="editEmployeeWindow">
		<form id="editEmployeeForm"></form>
	</div>

	<div>
		<div id="employeeDeleteWindow" style="text-align: center; display: none;">
			<h3 style="margin: 20px 0px;">Вы действительно хотите удалить эту услугу?</h3>
		</div>
	</div>
</div>
